@media print {
    @page {
        margin: 1cm;

        @bottom-right {
            content: counter(page) " of " counter(pages);
        }
    }

    body {
        margin: 0;
    }

    h1 {
        font-size: 2rem;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .no_print {
        display: none;
    }

    .print_only {
        display: initial;
    }

    header,
    footer {
        display: none !important;
    }
}
