:root {
    --font-family: Verdana, sans-serif;
    --margin-lr: min(15rem, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(2rem, calc(6vw + 1rem), 3rem);
}

body {
    margin: 0 var(--margin-lr);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 0px;
    z-index: 1000;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

code {
    background: lightgray;
    border-radius: 5px;
    padding: 3px;
}

.section {
    min-height: 100dvh;
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
}

#page_header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_header__link {
    color: black;
    text-decoration: underline;
}

.page_header__link:hover {
    color: blue;
}
