:root {
    --font-family: Verdana, sans-serif;
    --margin-lr: clamp(1rem, 20%, 15rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(2rem, calc(6vw + 1rem), 3rem);
}

body {
    margin: 0 var(--margin-lr);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    min-height: 100dvh;
}

header {
    padding: 10px 0px;
}

code {
    background: lightgray;
    border-radius: 5px;
    padding: 3px;
}

.page_header__link {
    color: black;
    text-decoration: underline;
}

.page_header__link:hover {
    color: blue;
}

#page_header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
